<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check List</title>
    <style>.table {
        width: 100%;
        border-collapse: collapse;
      }
      
      .table th, .table td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
      
      .table th {
        background-color: #f2f2f2;
      }
      
      .table tbody tr:nth-child(even) {
        background-color: #f9f9f9;
      }
      
      .table tbody tr:hover {
        background-color: #f5f5f5;
      }</style>
</head>
<body>
    <h3>Last update: {{current_time}}</h3>
    <table class="table">
          <tr>
            <th>ID</th>
            <th>Domain</th>
            <th>List IP của Domain</th>
            <th>IP của server được trỏ đến</th>
            <th>Trạng thái của domain</th>
          </tr>
          {% for param in params %}
          <tr>
            <td>{{params.index(param)+1}}</td>
            <td>{{param.domain}}</td>
            <td>
                <ul>
                    {% for ip in param.IP %}
                    <li>{{ip}}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for ip in param.myIP %}
                    <li>{{ip}}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>{{param.message}}</td>
          </tr>
          {% endfor %}
      </table>
      <script>
        setTimeout(function() {
            location.reload();
            }, 10000);
        console.log("{{params}}")
      </script>
</body>
</html>